footer.footer 
  .logo 
    a.home-link(href="/") Odin-book 
  
  ul.footer-nav
    li: a(href='https://github.com/kmakai' target="_blank") About us
    li: a(href='https://github.com/kmakai' target="_blank") Contact

  p.copyright &copy; 
    a(href='https://github.com/kmakai' target="_blank") Kmakai