header.header 
  .logo 
    a.home-link(href="/") Odin-book 
  if user
    button.log-out Log out
  .user-nav 
    if user 
      a.profile-link(href='/my-profile')
        img.profile-img(src="images/default.jpg", alt="user image")
        span.user-name= user.name.split(" ")[0]
    else 
      a.sign-up(href="#") Sign up

