mixin postForm 
  form.post-form
    textarea( name="postContent" cols="20" rows="3" id="postContent")
    input(type="hidden" value=`${user.id}` name="user" id="user")
    .file-btn
      input(type="file", name="image" id="image")
      button submit