doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
    title Odin-book
    link(href="/stylesheets/style.css", rel="stylesheet")
    script(src="/js/index.js" defer) 
  body
    include _header

    main 
      block content

    include _footer