extends base

block content 
  .loginpage
    form.loginform 
      label(for="email") EMAIL 
        input(type="email", name="email" id="email" placeholder="name@example.com")

      label(for="password") PASSWORD 
        input(type="password", name="password" id="password" placeholder="your password")

      button.login-btn(type="submit") Log in