extends base

block content 
  form.loginform 
    label(for="email") Email:
    input(type="email", name="email" id="email")

    label(for="password") Email:
    input(type="password", name="password" id="password")

    button(type="submit") Log in